{% extends 'checkbook_base.html' %}
	{% block title%}Add New Transaction{% endblock %}
	{% block content %}
			<div class="new-transaction-form">
				<form method="POST"> <!--This was updated after entering data into 'view.py', and 'CreateNewAccount.html'-->
					<!--What was done in CreateNewAccount.html, was done here as well.-->
					{% csrf_token %} <!--added csrf token-->
					{{form.as_p}} <!--added-->
					<button id="new-transaction-button" type="submit" name="Save_Transaction">Add Transaction</button>
				</form>
				<br>	
			</div>
	{% endblock %}